body { background-color : black;
	}

h3, h4, p {
	font-family : arial;
}

#contenu {
	width : 1240px;
	height: 724px;
	margin: auto;
}


#banniere {
	width: 1240px;
	height:100px;
	background-color: #37BBD2;
}

#banniere img {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

h3 {
	color: white;
	margin-left: 10px;
	float: left;
	margin-top: 40px;
}

h4 {
	color: white;
	margin-right: 10px;
	float: right;
	margin-top: 40px;
}


#banniere p {
	font-family : Tahoma;
	font-size: 26px;
	color: white;
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}


#gauche {
	height: ;
	width : 408px;
	float : left;

}

#b1 {
	width: 408px;
	height: 408px;
	background-color: #F5F5F5;
	float: left;
	margin-top: 8px;
	position: relative;
}


#b2 {
	width: 200px;
	height: 200px;
	background-color: #fa8a7e;
	float: left;
	margin-top: 8px;
	position: relative;
}

#b3 {
	width: 200px;
	height: 200px;
	background-color: #b483ff;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	position: relative;
}

#centre {
	height: ;
	width : 408px;
	float : left;
	margin-left : 8px;
	margin-top : 8px;

}

#b4 {
	width: 200px;
	height: 200px;
	background-color: #b7f6c9;
	float: left;
	position: relative;
	}

#b5 {
	width: 200px;
	height: 200px;
	background-color: #fbff86;
	float: left;
	margin-left : 8px;
	position: relative;
}

#b6 {
	width: 408px;
	height: 408px;
	background-color: #fa8a7e;
	float: left;
	margin-top: 8px;
	position: relative;

}

#droite {
	height: ;
	width : 408px;
	float : right;
	margin-top : 8px;

}

#b7 {
	width: 408px;
	height: 200px;
	background-color: #7efeff;
	float: left;
	position: relative;
	}

#b8 {
	width: 200px;
	height: 200px;
	background-color: #b7f6c9;
	float: left;
	margin-top : 8px;
	position: relative;
}

#b9 {
	width: 200px;
	height: 200px;
	background-color: #b483ff;
	float: left;
	margin-top : 8px;
	margin-left : 8px;
	position: relative;
}

#b10 {
	width: 200px;
	height: 200px;
	background-color: #7efeff;
	float: left;
	margin-top : 8px;
	position: relative;
}

#b11 {
	width: 200px;
	height: 200px;
	background-color: #f5f5f5;
	float: left;
	margin-top : 8px;
	margin-left : 8px;
	position: relative;
}

.icn {
	margin-top : 20%;
	margin-left : 28%;
}


.barre {
	width : 100%;
	height : 46px;
	position: absolute;
	bottom: 0;
}

.barre p {
	color : white;
	font-size : 14px;
	margin-left : 8px;
	margin-top: 16px;
	float : left;
}

.flch {
	float : right;
	margin-top : 16px;
	margin-right : 8px;
	float : right;
}

#b1 .barre {
	background-color : #999999;

	}

#b2 .barre {
	background-color : #f8504d;

}

#b3 .barre {
	background-color : #7f53c6;
}

#b4 .barre {
	background-color : #35eab5;

}

#b5 .barre {
	background-color : #fbed1a;

}

#b6 .barre {
	background-color : #f8504d;

}

#b7 .barre {
	background-color : #3ea8f6;
}

#b8 .barre {
	background-color : #35eab5;

}

#b9 .barre {
	background-color : #7f53c6;
}

#b10 .barre {
	background-color : #3ea8f6;

}

#b11 .barre {
	background-color : #999999;
}
